version  : "2"
services:
  app:
    build:
      context: .
      dockerfile: ./.docker/php/Dockerfile
    ports:
      - "80:80"  
    networks: 
      - bdd
    volumes :
      - ./src:/var/www/bdd
      - /var/www/bdd/vendor
  mysql:
    build:
      context: .
      dockerfile: ./.docker/mysql/mysql.dockerfile
    environment:
      - MYSQL_ROOT_PASSWORD=123
      - MYSQL_DATABASE=test
    ports:  
      - "3306:3306"        
    volumes :
      - ./data:/var/lib/mysql      
    networks:
      - bdd

networks: 
  bdd:
    driver : bridge
